.parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 60%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    border: 1px solid blue;
}

.wrapper .p {
    border-right: 1px solid blue;
    padding: 30px 50px;
}

.wrapper .v {
    padding-top: 30px;
}

.m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

svg {
    color: blue;
}